.navbar {
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
    padding: 0px 50px;
}

.navbar-logo {
    height: 300px;
    width: 300px;
}

.navbar-sitemap {
    flex-grow: 1;
    text-align: center;
    font-size: 2.5rem;
    font-weight: 600
    
}

.navbar-sitemap a {
    color: #acd5e1;
    padding: 10px 10px;
    text-decoration: none;
    transition: transform 0.2s ease-in-out, color 0.2s ease;;
}
.navbar-sitemap a:hover {
    color: white;
    text-decoration: none;
    transform: scale(0.9);
}

.navbar-socialIcons > a {
    display: inline-block;
}

.navbar-socialIcons > a svg {
    height: 70px;
    fill: #acd5e1;
    display: inline-block;
    margin: 0 10px;
}

.navbar-logo, .navbar-socialIcons > a svg {
    transition: transform 0.2s ease-in-out;
}

.navbar-logo:hover {
    transform: scale(0.9);
}

.navbar-socialIcons > a:hover svg {
    transform: scale(0.9);
}